* {
  color: #b6c3cd;
  font-family: 'PT Sans';
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #24343e;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

px-app-nav, px-app-nav-item, px-app-nav-subitem {
  background: #0c1419 !important;
}

px-app-nav-item:hover, px-app-nav-subitem:hover, .px-app-nav-item-0[selected] {
  background: #1c2a34 !important;
}

.px-app-nav-item-0[selected]:before {
  background-color: #09819c;
}

.px-dropdown-0 .dropdown-trigger.px-dropdown {
  background: #425765 !important;
  border: none;
}

